
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Entered";
}
<br><br>
<div class="window-entered">
    <br>
    @{
        <div class="p1" style="font-size:26px">Hello, @ViewBag.Login !</div>
    }
</div><br>