@{
    Layout = "/views/shared/_layout.cshtml";
}

<div class="window">
    <h3>Appartments were rent successfully!</h3>
    <button>@Html.ActionLink("Go to my page", "Show", "UserPage")</button>
    </div>
