
@{
    Layout = "/views/shared/_layout.cshtml";
}

<br><br>
<div class="window-entered">
    <br>
    @{
        <div class="p1" style="font-size:26px">Your appartment is added!</div>
    }
</div><br>