
@{
    Layout = "/views/shared/_layout.cshtml";
    ViewBag.Title = "Searching";
}
<br><br>
<div style="text-align:center" class="window-search">
  
        <form method="get" action="/Search/find">
            <input type="text" name="town" /><br><br>
            <input value="Search" type="submit">
        </form>
    </div>
