@{
    Layout = "/views/shared/_layout.cshtml";
}

<div class="window">
    <h3 align="center">You are successfully registered!</h3>
    <br><hr>
    @Html.ActionLink("Sign in", "Entering", "Enter")
</div>
