@{
    Layout = "/views/shared/_layout.cshtml";
}

<div class="window">
    <h3 align="center">Sign Up</h3>
    <br><hr>
    <form action="/Registration/registered" method="post">
        Name: <input type="text" name="Name">
        <br>
        Surname: <input type="text" name="Surname">
        <br>
        Login: <input type="text" name="Login">
        <br>
        Password: <input type="password" name="Password">
        <input type="submit">
    </form>
    </div>

