@{
    Layout = "/views/shared/_layout.cshtml";
}

<div class="window">
    <h3 align="center">About Program</h3>
    <br><hr>
    This program is developed to facilitate the process of housing search.

    <p style="float: right; margin-top: 110px">Created by Yuliia Shcherbakova and Kateryna Novakivska</p>
</div>
